<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>   

    <extension point="org.eclipse.ui.editors"> 
      <editor 
         id="com.elphel.vdt.ConstraintsEditor" 
         name="Text Editor" 
         extensions="xdc,sdc" 
         class="org.eclipse.ui.editors.text.TextEditor"
         default="true"> 
      </editor> 
   </extension> 

    <extension point="org.eclipse.ui.editors"> 
      <editor 
         id="net.sourceforge.GTKWave" 
         name="GTKWave Waveform Viewer" 
         extensions="sav,lxt" 
         command="gtkwave"
         icon="gtkwave.ico" 
         default="false"> 
      </editor> 
   </extension> 
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            icon="icons/vsrc.gif"
            contributorClass="com.elphel.vdt.veditor.editor.HdlActionContributor"
            class="com.elphel.vdt.veditor.editor.VerilogEditor"
            id="com.elphel.vdt.veditor.editor.VerilogEditor">
             <contentTypeBinding contentTypeId="com.elphel.vdt.veditor.verilogSource"/>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name.0"
            icon="icons/vsrc.gif"
            contributorClass="com.elphel.vdt.veditor.editor.HdlActionContributor"
            class="com.elphel.vdt.veditor.editor.VhdlEditor"
            id="com.elphel.vdt.veditor.editor.VhdlEditor">
            <contentTypeBinding contentTypeId="com.elphel.vdt.veditor.vhdlSource"/>
      </editor>
   </extension>


   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name.1"
            icon="icons/vsrc.gif"
            class="com.elphel.vdt.veditor.log.LogEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="com.elphel.vdt.veditor.log.LogEditor">
             <contentTypeBinding contentTypeId="com.elphel.vdt.veditor.simulationLog"/>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/pers.gif"
            class="com.elphel.vdt.veditor.VerilogPerspective"
            id="com.elphel.vdt.veditor.editor.perspective"
            fixed="false"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="veditor">
      </category>
      <view
            name="%view.name"
            icon="icons/hierarchy.gif"
            category="veditor"
            class="com.elphel.vdt.veditor.editor.ModuleHierarchyView"
            id="com.elphel.vdt.veditor.editor.ModuleHierarchyView">
      </view>
<!--  -->    
      <view
            name="%Views.DesignMenu"
            category="veditor"
            class="com.elphel.vdt.ui.views.DesignFlowView"
            icon="icons/sample.gif"
            id="com.elphel.vdt.ui.views.DesignFlowView">
      </view>
      
<!-- -->
   </extension>

   <extension
         point = "org.eclipse.ui.preferencePages">
      <page
            id="com.elphel.vdt.veditor.preference.TopPreferencePage"
            class="com.elphel.vdt.veditor.preference.TopPreferencePage"
            name="%page.name">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.TopPreferencePage"
            id="com.elphel.vdt.veditor.preference.ColorPreferencePage"
            class="com.elphel.vdt.veditor.preference.ColorPreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.TopPreferencePage"
            id="com.elphel.vdt.veditor.preference.TemplatePreferencePage"
            class="com.elphel.vdt.veditor.preference.TemplatePreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.TopPreferencePage"
            id="com.elphel.vdt.veditor.preference.ErrorParserPreferencePage"
            class="com.elphel.vdt.veditor.preference.ErrorParserPreferencePage"
            name="%page.name.2">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.TopPreferencePage"
            id="com.elphel.vdt.veditor.preference.CodeStylePreferencePage"
            class="com.elphel.vdt.veditor.preference.CodeStylePreferencePage"
            name="%page.name.3">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.CodeStylePreferencePage"
            id="com.elphel.vdt.veditor.preference.VerilogCodeStylePreferencePage"
            class="com.elphel.vdt.veditor.preference.VerilogCodeStylePreferencePage"
            name="%page.name.4">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.CodeStylePreferencePage"
            id="com.elphel.vdt.veditor.preference.VhdlCodeStylePreferencePage"
            class="com.elphel.vdt.veditor.preference.VhdlCodeStylePreferencePage"
            name="%page.name.5">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.TopPreferencePage"
            id="com.elphel.vdt.veditor.preference.WarningPreferencePage"
            class="com.elphel.vdt.veditor.preference.WarningPreferencePage"
            name="%page.name.6">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.WarningPreferencePage"
            id="com.elphel.vdt.veditor.preference.VerilogWarningPreferencePage"
            class="com.elphel.vdt.veditor.preference.VerilogWarningPreferencePage"
            name="%page.name.7">
      </page>
      <page
            category="com.elphel.vdt.veditor.preference.WarningPreferencePage"
            id="com.elphel.vdt.veditor.preference.VhdlWarningPreferencePage"
            class="com.elphel.vdt.veditor.preference.VhdlWarningPreferencePage"
            name="%page.name.8">
      </page>
   </extension>

      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.elphel.vdt.veditor.preference.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name.0"
            id="com.elphel.vdt.veditor.wizard">
      </category>
      <wizard
            name="%wizard.name"
            icon="icons/vsrc.gif"
            category="com.elphel.vdt.veditor.wizard"
            class="com.elphel.vdt.veditor.wizard.NewVerilogWizard"
            id="com.elphel.vdt.veditor.wizard.NewVerilogWizard">
      </wizard>
      <wizard
            name="%wizard.name.0"
            icon="icons/vsrc.gif"
            category="com.elphel.vdt.veditor.wizard"
            class="com.elphel.vdt.veditor.wizard.NewVhdlWizard"
            id="com.elphel.vdt.veditor.wizard.NewVhdlWizard">
      </wizard>
      <wizard
            name="%wizard.name.1"
            icon="icons/vsrc.gif"
            category="com.elphel.vdt.veditor.wizard"
            class="com.elphel.vdt.veditor.wizard.NewProjectWizard"
            project="true"
            finalPerspective="com.elphel.vdt.veditor.editor.perspective"
            id="com.elphel.vdt.veditor.wizard.NewProjectWizard">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
       <context
            name="%context.name"
            parentId="org.eclipse.ui.textEditorScope"
            description="%context.description"
            id="com.elphel.vdt.veditor.scope">
       </context>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name.1"
            description="%category.description"
            id="com.elphel.vdt.veditor.commands">
      </category>
      <command
            name="%command.name"
            description="%command.description"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.Format">
      </command>
      <command
            name="%command.name.0"
            description="%command.description.0"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.Compile">
      </command>
      <command
            name="%command.name.1"
            description="%command.description.1"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.Synthesize">
      </command>
      <command
            name="%command.name.2"
            description="%command.description.2"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.GotoMatchingBracket">
      </command>
      <command
            name="%command.name.3"
            description="%command.description.3"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.OpenDeclaration">
      </command>
      <command
            name="%command.name.4"
            description="%command.description.4"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.CollapseAll">
      </command>
      <command
            name="%command.name.5"
            description="%command.description.5"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.ExpandAll">
      </command>
      <command
            name="%command.name.6"
            description="%command.description.6"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.ShowInHierarchy">
      </command>
      <command
            name="%command.name.7"
            description="%command.description.7"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.ShowInOutline">
      </command>
      <command
            name="%command.name.8"
            description="%command.description.8"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.Comment">
      </command>
       <command
            name="%command.name.9"
            description="%command.description.9"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.Uncomment">
      </command>
      <command
            name="%command.name.10"
            description="%command.description.10"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.ShowInNavigator">
      </command>
      <command
            name="%command.name.11"
            description="%command.description.11"
            categoryId="com.elphel.vdt.veditor.commands"
            id="com.elphel.vdt.veditor.actions.ClearErrorMarkers">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+F"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.Format">
      </key>
      <key
            sequence="F7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.Compile">
      </key>
      <key
            sequence="F8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.Synthesize">
      </key>
      <key
            sequence="Esc ]"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.GotoMatchingBracket">
      </key>
      <key
            sequence="F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.OpenDeclaration">
      </key>
      <key
            sequence="M1+F12"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.CollapseAll">
      </key>
      <key
            sequence="M2+F12"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.ExpandAll">
      </key>
      <key
            sequence="M1+M2+/"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.Comment">
      </key>
      <key
            sequence="M1+M2+\"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.elphel.vdt.veditor.scope"
            commandId="com.elphel.vdt.veditor.actions.Uncomment">
      </key>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.elphel.vdt.core.launching.VDTLaunchConfigurationDelegate"
            id="com.elphel.vdt.launchConfigurationType"
            modes="run"
            name="%Launch.ConfigurationType.name"/>
   </extension>

   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            name="verilog_source_loc"
            description="%verilog_source_loc.description"
            resolver="com.elphel.vdt.ui.variables.VerilogResolver"
            supportsArgument="true">
      </variable>
      <variable
            name="verilog_source_path"
            description="%verilog_source_path.description"
            resolver="com.elphel.vdt.ui.variables.VerilogResolver"
            supportsArgument="true">
      </variable>
      <variable
            name="verilog_source_name"
            description="%verilog_source_name.description"
            resolver="com.elphel.vdt.ui.variables.VerilogResolver"
            supportsArgument="true">
      </variable>
      <variable
            name="verilog_source_prompt"
            description="%verilog_source_prompt.description"
            resolver="com.elphel.vdt.ui.variables.VerilogPrompt"
            supportsArgument="true">
      </variable>
   </extension>

   <extension
         id="simulateBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder 
            hasNature="true">
         <run
               class="com.elphel.vdt.veditor.builder.SimulateBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="HdlNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.elphel.vdt.veditor.HdlNature">
         </run>
      </runtime>
      <builder
            id="com.elphel.vdt.veditor.simulateBuilder">
      </builder>
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr.gif"
            natureId="com.elphel.vdt.veditor.HdlNature"
            id="com.elphel.vdt.veditor.natureImage">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%page.name.9"
            class="com.elphel.vdt.veditor.builder.SimulatorPropertyPage"
            id="com.elphel.vdt.veditor.simulatorProperty">
            <filter
                name="nature"
                value="com.elphel.vdt.veditor.HdlNature">
            </filter>            
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="org.eclipse.ui.articles.action.contribution.editor" 
         targetID="com.elphel.vdt.veditor.editor.VhdlEditor">               
      </editorContribution> 
      
      <editorContribution 
         id="org.eclipse.ui.articles.action.contribution.editor" 
         targetID="com.elphel.vdt.veditor.editor.VerilogEditor">        
      </editorContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.editors.templates">
	  <contextType
            name="%contextType.name"
            class="com.elphel.vdt.veditor.templates.VhdlGlobalContext"
            id="com.elphel.vdt.veditor.templates.vhdl.context.global">
	  </contextType>
	  <contextType
            name="%contextType.name.0"
            class="com.elphel.vdt.veditor.templates.VerilogInStatementContextType"
            id="com.elphel.vdt.veditor.verilogInStatement">
	  </contextType>
	  <contextType
            name="%contextType.name.1"
            class="com.elphel.vdt.veditor.templates.VerilogInModuleContextType"
            id="com.elphel.vdt.veditor.verilogInModule">
	  </contextType>
	  <contextType
            name="%contextType.name.2"
            class="com.elphel.vdt.veditor.templates.VerilogOutModuleContextType"
            id="com.elphel.vdt.veditor.verilogOutModule">
	  </contextType>
      <include
      		file="templates/vhdl.xml">      		
      </include>
      <include
      		file="templates/verilog.xml">      		
      </include>
      <contextType
            class="com.elphel.vdt.veditor.templates.VhdlNewFileContext"
            id="com.elphel.vdt.veditor.templates.vhdl.context.newfile"
            name="%contextType.name.3">
      </contextType>
      <contextType
            class="com.elphel.vdt.veditor.templates.VerilogNewFileContext"
            id="com.elphel.vdt.veditor.templates.verilog.context.newfile"
            name="%contextType.name.4">
      </contextType>
   </extension>

   <extension point="org.eclipse.core.runtime.contentTypes">
	  <content-type id="verilogSource" name="%content-type.name" 
		  base-type="org.eclipse.core.runtime.text"
		  priority="high"/>
      <content-type id="vhdlSource" name="%content-type.name.0" 
		  base-type="org.eclipse.core.runtime.text"
          priority="high"/>
      <content-type id="simulationLog" name="%content-type.name.1" 
		  base-type="org.eclipse.core.runtime.text"
          priority="high"/>
    </extension>

    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="com.elphel.vdt.veditor.verilogSource"
       file-extensions="v"/>
      <file-association 
       content-type="com.elphel.vdt.veditor.verilogSource"
       file-extensions="tf"/>
    </extension>
    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="com.elphel.vdt.veditor.vhdlSource"
       file-extensions="vhd"/>
    </extension>
    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="com.elphel.vdt.veditor.vhdlSource"
       file-extensions="vhdl"/>
    </extension>    
    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="com.elphel.vdt.veditor.simulationLog"
       file-extensions="log"/>
    </extension>
    
     <extension
       id="autotaskmarker"
       name="%extension.name.1"
       point="org.eclipse.core.resources.markers">
      <persistent value="true"/>       
      <super type="org.eclipse.core.resources.taskmarker"/>
    </extension>

     <extension
       id="builderproblemmarker"
       name="%extension.name.2"
       point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
    </extension>

   <extension
         id="com.elphel.vdt.veditor.annotations"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.elphel.vdt.veditor.occurrences"
            label="%OccurrenceAnnotation.label"
            icon="$nl$/icons/full/obj16/searchm_obj.gif"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
      <specification
            annotationType="com.elphel.vdt.veditor.occurrences.write"
            label="%WriteOccurrenceAnnotation.label"
            textPreferenceKey="writeOccurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="writeOccurrenceHighlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="writeOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="writeOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="writeOccurrenceIndicationColor"
            colorPreferenceValue="240,216,168"
            presentationLayer="4"
            textStylePreferenceKey="writeOccurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
   </extension>

</plugin>

